
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
          <div class="overlay">
            <h1>Japanese Support</h1>
            <p style="margin-top: 50px;">
              Học tiếng Nhật mỗi ngày cùng chúng tôi
            </p>
          </div>
        </div>
        
        <div class="right">
          <h1 style="font-size: 50px;">Đăng ký</h1>
          <p>
            Đã có tài khoản <a routerLink="../login" >Đăng nhập</a> 
          </p>
          <div class="inputs">
            <form  [formGroup]="signUpForm">
                <input type="text" placeholder="Tài khoản" formControlName="userName" (input)="change('userName-error')"/>
                <small class="error" id="userName-error">*Tên tài khoản bắt buộc</small>
                <br />
                <input type="password" placeholder="Mật khẩu" formControlName="userPassword" (input)="change('userPassword-error')" />
                <small class="error" id= "userPassword-error">*Mật khẩu bắt buộc</small>
                <input type="password" placeholder="Xác nhận mật khẩu" formControlName = "userConfirmPassword" (input)="change('userConfirmPassword-error')" />
                <small class="error" id= "userConfirmPassword-error">*Xác nhận mật khẩu bắt buộc</small>
            </form>
            </div>
            <br /><br />
          <br />
          <button (click)="onSignUp()" type="submit"  >Đăng ký</button>
        </div>
      </div>
      <!-- partial -->
  
  <!-- <router-outlet></router-outlet> -->