
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
          <div class="overlay">
            <h1>Japanese Support</h1>
            <p>
        Hãy bắt đầu đăng kí tài khoản tại đây và 
              Cải thiện tiếng Nhật mỗi ngày với chúng tôi
            </p>
            
          </div>
        </div>
        
        <div class="right">
          <h5>Register</h5>
          <p>
            I already have account <a routerLink="../login" >Login</a> 
          </p>
          <div class="inputs">
            <form  [formGroup]="signUpForm">
                <input type="text" placeholder="user name" formControlName="userName" />
                <small>*Username is required</small>
                <br />
                <input type="password" placeholder="password" formControlName="userPassword" />
                <small>*password is required</small>
            </form>
            </div>
            
            <br /><br />
            
            <div class="remember-me--forget-password">
              <!-- Angular -->
              <label>
                <input type="checkbox" name="item" checked />
                <span class="text-checkbox">Remember me</span>
              </label>
              <p>forget password?</p>
            </div>
  
          <br />
          <button (click)="onSignUp()" type="submit"  >Sign Up</button>
        </div>
      </div>
      <!-- partial -->
  
  <!-- <router-outlet></router-outlet> -->