
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
          <div class="overlay">
            <h1>Japanese Support</h1>
            <p style="margin-top: 50px;">
              Learn Jappannese everyday with app
            </p>
          </div>
        </div>
        
        <div class="right">
          <h1 style="font-size: 50px;">Register</h1>
          <p>
            Have account <a routerLink="../login" >Login</a> 
          </p>
          <div class="inputs">
            <form  [formGroup]="signUpForm">
                <input type="text" placeholder="user name" formControlName="userName" />
                <small>*Username is required</small>
                <br />
                <input type="password" placeholder="password" formControlName="userPassword" />
                <small>*password is required</small>
            </form>
            </div>
            
            <br /><br />
            
          
  
          <br />
          <button (click)="onSignUp()" type="submit"  >Sign-up</button>
        </div>
      </div>
      <!-- partial -->
  
  <!-- <router-outlet></router-outlet> -->