<div class="container">
<div>
  <h1>Bạn đang ở trình độ học tiếng Nhật nào</h1>
  <div>
    <div class="levelList">
        <div class="card-list">
          <article class="card">
            <figure class="card-image">
              <img
                src="https://media.tenor.com/ZXXsyxNxzV4AAAAi/japanese-cute.gif"
                alt="An orange painted blue, cut in half laying on a blue background"
              />
            </figure>
            <div class="card-header">
              <a >Trình độ sơ cấp mới học</a>
            </div>
          </article>
      </div>
        <div class="card-list">
          <article class="card">
            <figure class="card-image">
              <img
                src="https://media.tenor.com/4qyToXa_sl4AAAAj/japanese-cute.gif"
                alt="An orange painted blue, cut in half laying on a blue background"
              />
            </figure>
            <div class="card-header">
              <a >Trình độ trung cấp có thể giao tiếp</a>
            </div>
          </article>
      </div>
        <div class="card-list">
          <article class="card">
            <figure class="card-image">
              <img
                src="https://media.tenor.com/P4Py6E4O9JQAAAAj/japanese-cute.gif"
                alt="An orange painted blue, cut in half laying on a blue background"
              />
            </figure>
            <div class="card-header">
              <a >Trình độ cao cấp thành thạo</a>
            </div>
          </article>
      </div>
     
    </div>
  </div>
</div>
</div>