<div class="container">

    <div class="dashboard-container">
      <div class="left-sidebar mt-12">
        <div class="rank-container small-border m-12">
          <div class="rank__label">Top ngừời học </div>
          <hr class="divider__solid" />
          <div class="rank__body">
            <div class="rank-users__list">
              <div
              class="rank-users__detail small-border"
              *ngFor="let rankUser of listRankUser; let i = index;"
              >
              <div class="rank-number">{{ i + 1 }}</div>
              <div class="rank-medal" *ngFor = "let rankMedal of listMedal">
                  <div *ngIf="rankMedal.rank === i+1" >
  
                    <img class="rank-medal" [src]="rankMedal.image" alt="">
                  </div>
              </div>
              <div class="user-avatar">
                <img src={{rankUser.ImgUrl}} alt="" height="50" />
              </div>
              <div class="user-name">{{ rankUser.userName }}</div>
              <div class="user-word">{{ rankUser.userPoint }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content m-12">
      <div class="achievement-summary small-border mt-12 p-12 w-100">
        <div class="achievement-summary__label medium-label text-center mb-16">
          Thành tích
        </div>
        <div class="achievement__list">
          <div
          class="achievement__detail"
          *ngFor="let achievement of listAchievement"
          >
          <div class="achievement__img">
            <img [src]="achievement.imageUrl" alt="" />
          </div>
          <div class="achievement__name small-label">
            {{ achievement.name }}
          </div>
            <div class="achievement__date">{{ achievement.date }}</div>
          </div>
        </div>
      </div>
      
      <div class="summary-row-first flr mt-24" *ngIf="listLearnStatus">
        <div class="day-summary small-border p-12 w-50 mr-12">
          <div class="day-summary__header">
            <div class="day-summary__label medium-label">
             Từ vựng đã học
            </div>
          </div>
          <div class="day-summary__body">
            <div class="day-summary__progress">
              <div class="progress__header small-label">Mục tiêu</div>
              <div class="progress__detail">
                Đã đạt được {{50/listLearnStatus.WordsLearnedToday}}% mục tiêu
              </div>
              <div class="progress__body">
                <nz-progress
                class="progress__line w-80"
                [nzPercent]="50/listLearnStatus.WordsLearnedToday"
                [nzShowInfo]="false"
                ></nz-progress>
                <div class="progress__text">{{listLearnStatus.WordsLearnedToday}}/50 Từ</div>
              </div>
            </div>
            <div class="day-summary__efficiency">
              <div class="efficiency__header small-label">Hiệu suất</div>
            </div>
            <div class="efficiency__body flr">
              <div class="body__graph mr-12">
                <nz-progress
                nz-tooltip
                nzTitle="3 done / 3 in progress / 4 to do"
                nzType="dashboard"
                [nzPercent]="60"
                [nzSuccessPercent]="30"
                ></nz-progress>
              </div>
              <div class="body__description ml-12">
                <div nz-row nzGutter="8">
                  <div nz-col nzSpan="4">
                    <nz-progress
                    class="graph__detail--blue "
                    [nzPercent]="50/listLearnStatus.WordsLearnedYesterday"
                    [nzShowInfo]="false"
                    ></nz-progress>
                  </div>
                  <div nz-col nzSpan="20">Số từ vựng hôm qua {{listLearnStatus.WordsLearnedYesterday}} từ</div>
                </div>
                
                <div nzGutter="8" style="display : flex">
                  <div nz-col nzSpan="4">
                    <nz-progress
                    
                    [nzPercent]="50/listLearnStatus.WordsLearnedToday"
                    [nzShowInfo]="false"
                    ></nz-progress>
                  </div>
                  <div nz-col nzSpan="20" style ="width: 200px;">Số từ vựng hôm nay {{listLearnStatus.WordsLearnedToday}} từ</div>
                </div>
              </div>
            </div>
            <div class="motivation mt-12">
              <p>
              Vẫn còn cần phải học {{50 - listLearnStatus.WordsLearnedToday }}
              </p>
            </div>
          </div>
        </div>
        
        <div class="week-summary small-border p-12 w-50 ml-12">
          <div class="week-summary__header">
            <div class="week-summary__label medium-label">
              Từ vựng đã học trong 7 ngày qua
            </div>
          </div>
          <div class="week-summary__body">
            <div class="week-summary__progress">
              <nz-progress [nzPercent]="350/listLearnStatus.WordsLearnedLast7Days" [nzShowInfo]="false"></nz-progress>
            </div>
            {{listLearnStatus.WordsLearnedLast7Days}} từ vựng đã học 
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>

  