<div class="container">
    <div class="icon">
        <h1>Một ngày bạn dự định học bao nhiêu từ ?</h1>
    </div>
    <div class="button-container">
       <div class="button-group">
        <button>15 từ / ngày <span class="label">Mức thấp</span></button>
        <button>20 từ / day <span class="label">Mức vừa</span></button>
        <button>25 từ / ngày <span class="label">Mức trung bình</span></button>
        <button>30 từ / ngày <span class="label">Mức tốt</span></button>
        <button>40 từ / ngày <span class="label">Mức rất tốt</span></button>
    </div> 
    </div>
    
    <button class="continue-btn">CONTINUE</button>
</div>