
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
          <div class="overlay">
            <h1>Japanese Support</h1>
            <p style="margin-top: 50px; font-size: 20px;">
              Practice Japannese with app everyday
            </p>
            
          </div>
        </div>
        
        <div class="right">
          <h5 style="    font-size: 40px;
          padding: 28px 20px;">Login</h5>
          <p>
            Don'n have account <a routerLink="../register" >Register</a> 
          </p>
          
          <div class="inputs">
            <form  [formGroup]="loginForm">
              <input type="text" placeholder="user name" formControlName="userName" />
              <small>*Username is required</small>
              <br />
              <input type="password" placeholder="password" formControlName="userPassword" />
              <!-- <span (click)="hideShowPass()" class=""fa {{eyeIcon}}></span> -->
              <small *ngIf="loginForm.get('userPassword') ">
                *Username is required
              </small>
            </form>
            </div>
            
            <br /><br />
            
            <div class="remember-me--forget-password">
              <!-- Angular -->
              <label>
                <input type="checkbox" name="item" checked />
                <span class="text-checkbox">Remember me</span>
              </label>
              <p>forget password?</p>
            </div>
  
          <br />
          <button (click)="onLogin()" type="submit"  >Login</button>
        </div>
      </div>
      <!-- partial -->
  
  