<div class="setting-row">
    <button
      nz-button
      nz-dropdown
      nzTrigger="click"
      [nzDropdownMenu]="settingMenu"
      [nzOverlayStyle]="{ width: '400px' }"
    >
      <!-- [nzPlacement]="'topCenter'" -->
      <i class="fa-solid fa-gear"></i>
    </button>
  </div>
  <div class="detail-learn small-border flc">
    <div class="learn__header">
      <div class="text-center　text">Hãy cố gắng nhớ từ mới này nhá</div>
    </div>
    <div class="learn__body">
      <div class="mt-24 mb-12 small-label">Từ mới:</div>
  
      <div class="new-word highlight-border--green text-center">
        {{ listSortedWord[currentWordIndex].wordKanji }}
      </div>
      <div class="mt-24 mb-12 small-label">Nghĩa:</div>
      <div
        *ngIf="isShowResult || !hideResultMode"
        class="word__meaning highlight-border--blue text-center"
      >
        {{ listSortedWord[currentWordIndex].wordMean }}
      </div>
      <div
        *ngIf="!isShowResult && hideResultMode"
        class="word__meaning highlight-border--blue text-center"
      >
        ...
      </div>
    </div>
  
    <div class="learn__confirm">
      <div nz-row *ngIf="autoReview" class="reaction__list text-center">
        <div
          nz-row
          nzJustify="center"
          *ngIf="!isShowResult && hideResultMode"
          class="reaction__list mb-16"
        >
          <div nz-col nzSpan="3" class="reaction__detail">
            <button
              nz-button
              nzType="primary"
              class="reaction__button reaction__button--zero"
            >
              Hiện câu trả lời
            </button>
          </div>
        </div>
      </div>
      <div nz-row *ngIf="!autoReview" class="reaction__list text-center">
        <div
          nz-row
          nzJustify="center"
          *ngIf="isShowResult || !hideResultMode"
          class="reaction__list mb-16"
        >
          <div nz-col nzSpan="3" class="reaction__detail">
            <button
              nz-button
              nzType="primary"
              class="reaction__button reaction__button--zero"
              (click)="onClickReaction(listSortedWord[currentWordIndex].wordId, 2)"
              nzDanger
            >
              Chưa nhớ 
            </button>
          </div>
          <div nz-col nzSpan="3" class="reaction__detail">
            <button
              nz-button
              nzType="primary"
              class="reaction__button reaction__button--hard"
              (click)="onClickReaction(listSortedWord[currentWordIndex].wordId, 1)"
            >
              Khó nhớ
            </button>
          </div>
          <div nz-col nzSpan="3" class="reaction__detail">
            <button
              nz-button
              nzType="primary"
              class="reaction__button reaction__button--easy"
              (click)="onClickReaction(listSortedWord[currentWordIndex].wordId, 3)"
            >
              Dễ nhớ
            </button>
          </div>
          <div nz-col nzSpan="3" class="reaction__detail">
            <button
              nz-button
              nzType="primary"
              class="reaction__button reaction__button--done"
              (click)="onClickReaction(listSortedWord[currentWordIndex].wordId, 4)"
            >
              Đã nhớ
            </button>
          </div>
        </div>
        <div
          nz-row
          nzJustify="center"
          *ngIf="!isShowResult && hideResultMode"
          class="reaction__list mb-16"
        >
          <div nz-col nzSpan="3" class="reaction__detail">
            <button
              nz-button
              nzType="primary"
              (click)="onClickShowResult()"
              class="reaction__button reaction__button--zero"
            >
              Hiện đáp án
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <button
      nz-button
      nz-dropdown
      nzTrigger="click"
      [nzPlacement]="'topCenter'"
      [nzOverlayStyle]="{ width: '600px' }"
      class="next-button"
    >
    Từ tiếp theo
  </button> -->
    <!-- [nzDropdownMenu]="menu" -->
    <!-- (click)="onClickNext()" -->
    <!-- <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      Click me
      <span nz-icon nzType="down"></span>
    </a> -->
    <!-- <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="reaction__header">
        Đánh giá mức độ hiểu của bạn
      </div>
      <div nz-row class="reaction__list">
        <div class="reaction__detail">
          <button></button>
        </div>
      </div>
    </nz-dropdown-menu> -->
  
    <nz-dropdown-menu #settingMenu="nzDropdownMenu">
      <div class="setting-menu__container small-border p-12">
        <div nz-row class="setting-menu__header small-label text-center">
          Cài đặt
        </div>
        <div nz-row class="setting-menu__body">
          <div nz-row class="menu__item">
            <div nz-col nzSpan="22" class="item__label">
              Tự nhớ ý nghĩa của từ trước khi xem đáp án
            </div>
            <div nz-col nzSpan="2" class="item__action">
              <nz-switch [(ngModel)]="hideResultMode"></nz-switch>
            </div>
          </div>
          <div nz-row class="menu__item">
            <div nz-col nzSpan="22" class="item__label">Tự động đánh giá</div>
            <div nz-col nzSpan="2" class="item__action">
              <nz-switch [(ngModel)]="autoReview"></nz-switch>
            </div>
          </div>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
  