<div class="container">
	<fieldset class="checkbox-group">
	  <legend class="checkbox-group-legend">Các chủ đề bạn quan tâm</legend>
	  <div class="checkbox" *ngFor="let category of userCategory">
		<label class="checkbox-wrapper">
		  <input type="checkbox" class="checkbox-input" [checked]="category.checked" (change)="toggleCheckbox(category)" />
		  <span class="checkbox-tile">
			<span class="checkbox-icon">
			  <img [src]="category.imageUrl" alt="Category Image" />
			</span>
			<span class="checkbox-label">{{ category.name }}</span>
		  </span>
		</label>
	  </div>
	</fieldset>
	<div class="button" (click)="updateCategories()">
	<button>Tiếp theo</button>
		</div>
	<div class="robot">
	  <div class="cute-robot-v1">
		<div class="circle-bg">
		  <div class="robot-ear left"></div>
		  <div class="robot-head">
			<div class="robot-face">
			  <div class="eyes left"></div>
			  <div class="eyes right"></div>
			  <div class="mouth"></div>
			</div>
		  </div>
		  <div class="robot-ear right"></div>
		  <div class="robot-body"></div>
		</div>
	  </div>
	  <div class="bubble medium bottom hidden">Chủ đề bạn yêu thích trong việc học là gì vậy ?</div>
	</div>
  </div>
  