<div class="container">
<fieldset class="checkbox-group">
    <div class="text">

        <legend class="checkbox-group-legend">Các chủ đề bạn quan tâm</legend>
    </div>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<input type="checkbox" class="checkbox-input" />
			<span class="checkbox-tile">
				<span class="checkbox-icon">
					<img src="https://th.bing.com/th/id/OIP.qVnOkhF2Wq5XER6nWh2LogHaFp?w=235&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"/>
				</span>
				<span class="checkbox-label">Ẩm thực</span>
			</span>
		</label>
	</div>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<input type="checkbox" class="checkbox-input" checked />
			<span class="checkbox-tile">
				<span class="checkbox-icon">
					<img src="https://th.bing.com/th/id/OIP.-28i8A7520Fo79AveOim3AHaF7?w=244&h=195&c=7&r=0&o=5&dpr=1.3&pid=1.7"/>
				</span>
				<span class="checkbox-label">Đời sống</span>
			</span>
		</label>
	</div>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<input type="checkbox" class="checkbox-input" />
			<span class="checkbox-tile">
				<span class="checkbox-icon">
					<img src="https://th.bing.com/th?q=Business+Person+Icon&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.3&pid=InlineBlock&mkt=en-WW&cc=VN&setlang=en&adlt=strict&t=1&mw=247"/>
				</span>
				<span class="checkbox-label">Bussiness</span>
			</span>
		</label>
	</div>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<input type="checkbox" class="checkbox-input" />
			<span class="checkbox-tile">
				<span class="checkbox-icon">
					<img src="https://th.bing.com/th/id/OIP.Hh4bSp8DZ5KfNa7f7j0_VAHaHx?w=203&h=213&c=7&r=0&o=5&dpr=1.3&pid=1.7"/>
				</span>
				<span class="checkbox-label">Giao thông</span>
			</span>
		</label>
	</div>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<input type="checkbox" class="checkbox-input" />
			<span class="checkbox-tile">
				<span class="checkbox-icon">
					<img src="https://th.bing.com/th/id/OIP.AbcQw9WrJpPHGJGEkhXPTQHaHa?w=202&h=202&c=7&r=0&o=5&dpr=1.3&pid=1.7">
				</span>
				<span class="checkbox-label">Y tế</span>
			</span>
		</label>
	</div>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<input type="checkbox" class="checkbox-input" />
			<span class="checkbox-tile">
				<span class="checkbox-icon">
				<img src="https://th.bing.com/th/id/OIP.pcB7jL_4dpIB3Lr_wq0fjgHaH7?w=168&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"/>
				</span>
				<span class="checkbox-label">Học tập</span>
			</span>
		</label>
	</div>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<input type="checkbox" class="checkbox-input" />
			<span class="checkbox-tile">
				<span class="checkbox-icon">
					<img src="https://th.bing.com/th/id/OIP.EC5g8xXuqE21E_xDuzfV0gHaFL?w=249&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"/>
				</span>
				<span class="checkbox-label">Thể thao</span>
			</span>
		</label>
	</div>
	<div class="checkbox">
		<label class="checkbox-wrapper">
			<input type="checkbox" class="checkbox-input" checked/>
			<span class="checkbox-tile">
				<span class="checkbox-icon">
					<img src="https://th.bing.com/th?q=Muslim+Family+Icon&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.3&pid=InlineBlock&mkt=en-WW&cc=VN&setlang=en&adlt=strict&t=1&mw=247"/>
				</span>
				<span class="checkbox-label">Gia đình</span>
			</span>
		</label>
	</div>
</fieldset>
<div class="button">Tiếp theo</div>
<div class="robot">

    <div class="cute-robot-v1">
      <div class="circle-bg">
        <div class="robot-ear left"></div>
        <div class="robot-head">
        <div class="robot-face">
          <div class="eyes left"></div>
          <div class="eyes right"></div>
          <div class="mouth"></div>
        </div>
      </div>
      <div class="robot-ear right"></div>
      <div class="robot-body"></div>
    </div>
  </div>
  <div class="bubble medium bottom hidden">Chủ đề bạn yêu thích trong việc học là gì vậy ?  
  </div>
</div>