<div class="container">
  <div class="community-container">
    <div class="community-divider" style="margin-left: 275px;">
      <h1 >Bài viết mới</h1>
    </div>
    <!-- Tạo bài viết mới trong cộng đồng  -->
    <div class="community-post small-border" style="margin-left: 275px;">
      <form [formGroup]="postForm">
        <div class="post-header">
          <div class="community-post__infor">
            <div class="community-post_avatar">
              <img alt="" [src]="userInfo.imgUrl" />
            </div>
            <input
            class="post-input"
              type="text"
              placeholder="Bạn có muốn chia sẻ điều gì không?"
              (click)="onClickHandleExpand()"
              formControlName="postContent"
              [(ngModel)]="Content"
            />
          </div>
          <div class="community-post__addInfo" *ngIf="!hasExpand">
            <div class="community-post_upload">
              <label *ngIf="isUpload" for="file" class="community-post__button">
                <div class="community-post__image small-border">
                  <i class="fa-solid fa-upload"></i>
                  <div class="text">Tải ảnh lên</div>
                </div>
              </label>
              <input
                #fileInput
                type="file"
                class="inputfile"
                id="file"
                (change)="inputImage($event)"
              />
              <div class="cancel-btn" *ngIf="!isUpload" (click)="cancelImage()">
                <i class="fa-solid fa-xmark"></i>
              </div>
              <div class="community-posts__image" *ngIf="!isUpload">
                <img [src]="imagePost" alt="" />
              </div>

              <div class="community-post__course">
                <div
                  class="community-postss_course small-border"
                  (click)="openModal()"
                >
                  <i class="fa-solid fa-plus community-icon" *ngIf="isIcon"></i>
                  <h4 *ngIf="isCourseInfo">
                    <h3>Tên bài học :</h3>
                    {{ selectCourse.courseName }}
                    <h3>Chủ đề :</h3>
                    {{ selectCourse.category }}
                  </h4>
                </div>
              </div>
              <div #myModal class="modal-container" *ngIf="isVisible">
                <div class="content">
                  <h1 class="header-content">Thêm bài viết mới</h1>
                  <div class="list-container">
                    <ul class="responsive-table">
                      <li class="table-header">
                        <div class="col col-1">Course id</div>
                        <div class="col col-2">Tên</div>
                        <div class="col col-3">Chủ đề</div>
                      </li>
                      <div
                        class="row-data"
                        *ngFor="let data of listCourse"
                        (click)="onClickCourse(data.courseId)"
                      >
                        <li class="table-row">
                          <div class="col col-1" data-label="Job Id">
                            {{ data.courseId }}
                          </div>
                          <div class="col col-2" data-label="Customer Name">
                            {{ data.courseName }}
                          </div>
                          <div class="col col-3" data-label="Amount">
                            {{ data.category }}
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                  <button class="button-close" (click)="closeModal()">
                    Hủy
                  </button>
                </div>
              </div>
            </div>
            <div class="community-post_hanle">
              <div class="community-post_cancel">
                <button class="button" (click)="onClickClose()">
                  <i class="fa-solid fa-right-from-bracket"></i>Hủy bài viết
                </button>
              </div>
              <div class="community-post_send" (click)="onClickSend()">
                <button class="button">
                  <i class="fa-solid fa-share"></i>Đăng
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="community-divider" style="padding-left: 275px;"><h1>Bài viết bạn quan tâm</h1></div>
    <div class="post-container">
      <div class="left-bar">
      <header>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" (input)="searchHandle($event)" >
          <input type="text" nz-input placeholder="Tìm kiếm"  />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search" (click)="searchClick()"></span></button>
        </ng-template>
    </header>
    <aside class="sidebar">
        <h2>Các bài viết nổi bật</h2>
        <ul>
            <li><i class="fa-solid fa-heart" style="color:  rgb(202, 77, 77); margin-right: 10px;"></i><a (click)="getTopRatedPosts()">Được yêu thích nhất</a></li>
    <li><i class="fa-solid fa-comments" style="color:  rgb(77, 121, 202);margin-right: 10px;"></i><a (click)="getMostCommentedPosts()" >Được quan tâm nhiều nhất</a></li>
            <li><i class="fa-solid fa-star" style="color:  rgb(179, 202, 77);margin-right: 10px;"></i><a (click)="getMostImportedPosts()">Được nhiều người học</a></li>
        </ul>
    </aside>
  </div>
    <!-- Post trên màn cộng đồng  -->
    <div class="post-content">
    <div
      class="community-posts__rating small-border"
      *ngFor="let data of listPost"
    >
      <div class="handleHint" *ngIf="data.postId !== isHintPost">
        <div class="community-posts_header">
          <div class="small-border" style="display: flex; padding: 5px 15px">
            <div class="community-post_avatar">
              <img alt="" src={{data.ImgUrl}}/>
            </div>
            <div class="community-post_info">
              <div class="community-post_username">{{ data.userName }}</div>
              <div class="community-post_rating">
                Bài đăng : {{ data.postAt | date : "dd/MM/yyyy"}}
              </div>
            </div>
          </div>
          <div
            class="community-post_delete"
            (click)="onClickHandleHint(data.postId)"
          >
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
        </div>
        <div class="community-divider"></div>
        <div class="community-posts_body">
          <div class="community-posts_content">
            <div class="community-posts__idea">
              {{ data.postContent }}
            </div>
            <div class="community-posts__image">
              <img
                src={{data.postImage}}
                alt=""
              />
            </div>
          </div>
          <div
            class="community-posts_course"
            (click)="openModalCourse(data.courseId)"
          >
            <div class="community-post__theme">
              Chủ để :<br />
              {{ data.courseName }}
            </div>
            <div class="community-post__word">
              Mã học liệu:<br />
              {{ data.courseId }}
            </div>
          </div>
        </div>
        <div class="community-posts_interact">
          <div class="community-alo">
            <div class="interact_container">
              <div
                class="interact-icon"
                (click)="handleOpenRating(data.postId)"
              >
                <i class="fa-solid fa-star"></i>
                Đánh giá {{data.totalRatings}}
              </div>
            </div>
            <div
              class="interact_container"
              (click)="onClickHandleCommentExpand(data.postId)"
            >
              <div class="interact-icon">
                <i class="fa-solid fa-comment"></i>
                Bình luận {{data.totalComments}}
              </div>
            </div>
            <div
              class="interact_container"
              (click)="importToMyCourse(data.courseId)"
            >
              <div class="interact-icon">
                <i class="fa-solid fa-file-import"></i>
                Thêm vào học liệu {{data.importCount}}
              </div>
            </div>
          </div>
          <div class="rating">Đánh giá :{{ data.rating | number:'1.2-2'}}</div>
        </div>
        <div class="row" *ngIf="data.postId === isRating">
          <nz-rate [(ngModel)]="star" nzAllowHalf (click)="countStart(data.postId,data.courseId)"></nz-rate>
        </div>
        <!-- Phần mở rộng khi nhấn comment -->
        <div class="community-comment">
          <div class="community-comment_header">
            <h2>Bình luận</h2>
          </div>
          <div class="community-comment_body">
            <form action="" [formGroup]="commentForm">
              <div class="community-post__infor">
                <div class="community-post_avatar">
                  <img alt="" src={{userInfo.imgUrl}} />
                </div>

                <input
                class="post-input"
                  type="text"
                  placeholder="Comment"
                  #comment
                  formControlName="comment"
                />
                <button (click)="onSubmit(data.postId)">Gửi</button>
              </div>
            </form>
            <div class="comment-container" *ngIf="data.postId === hasComment">
              <div class="comment" *ngFor="let data of commentData">
                <div class="comment-header">
                  <img src="{{data.commentUserImgUrl}}" alt="User Image" class="user-image">
                  <div class="user-info">
                    <div class="user-name">{{ data.commentUserName }}</div>
                    <div class="comment-time">{{ data.timeAgo }}</div>
                  </div>
                </div>
                <div class="comment-setting" *ngIf="data.commentUserId == userId" (click)="openModalCommentSetting(data.commentId)">
                  <i class="fa-solid fa-bars"></i>
                </div>
                <div class="comment-body">
                  <p *ngIf="data.commentId !== editCommentId">
                    {{ data.commentText }}
                  </p>
                
                  <div *ngIf="data.commentId === editCommentId">
                    <input [(ngModel)]="editText" />
                    <button class="save-button" (click)="submitEditComment(data.commentId)">Lưu</button>
                    <button class="cancel-button" (click)="cancelEditComment()">Hủy</button>
                  </div>
                </div>
                
                <div class="reply-count" *ngIf="data.replyCount > 0" (click)="getReplies(data.commentId)"><i class="fa-solid fa-reply"></i>{{data.replyCount}} câu trả lời</div>
                <div class="comment-footer">
                  <span class="likes">{{data.likeCount}}<i class="fa fa-thumbs-up" [ngClass]="{'active': likeComment === data.commentId}" (click)="likeCommentHandle(data.commentId)" ></i></span>
                  <span class="reply" (click)="showReplyInput(data.commentId, data.commentUserName)">Trả lời</span>
                </div>
                <div class="reply-container" *ngIf="data.commentId == hasReply">
                <div *ngFor="let reply of listReply" class="comment reply" >
                  <div class="comment-header">
                    <img src="{{reply.userImgUrl}}" alt="User Image" class="user-image">
                    <div class="user-info" >
                      <div class="user-name">{{ reply.userName }}</div>
                      <div class="comment-time">{{ reply.timeAgo }}</div>
                    </div>
                  </div>
                  <div class="comment-setting" *ngIf="reply.userId == userId" (click)="openModalCommentSetting(reply.replyId)" >
                    <i class="fa-solid fa-bars" ></i>
                  </div>
                  <div class="comment-body">
                    <p *ngIf="reply.replyId !== replyCommentId">

                      {{ reply.replyText }}
                    </p>
                    <div *ngIf="reply.replyId === replyCommentId">
                      <input [(ngModel)]="editReplyText" />
                      <button class="save-button" (click)="submitEditReply(reply.replyId)">Lưu</button>
                      <button class="cancel-button" (click)="cancelEditReply()">Hủy</button>
                    </div>
                  </div>
                  
                  <div class="comment-footer">
                    <!-- <span class="likes"><i class="fa fa-thumbs-up"></i></span> -->
                    <span class="reply" (click)="showReplyInput(reply.replyId,reply.userName)">Trả lời</span>
                  </div>

                  <form action="" [formGroup]="replyForm">
                  <div class="reply-input" *ngIf="reply.replyId === inputComment">
                    <input type="text" formControlName="replyText" placeholder="Viết phản hồi...">
                    <button (click)="submitReply(data.commentId)">Gửi</button>
                  </div>
                </form>
                <div *ngIf="reply.replyId == selectedCommentId" class="modal-overlay" >
                  <div class="modal-content" (click)="$event.stopPropagation()">
                    <button class="modal-button" (click)="editReply(selectedCommentId,reply.replyText)">Sửa bình luận</button>
                    <button class="modal-button" (click)="deleteReply(selectedCommentId,data.postId)">Xóa bình luận </button>
                  </div>
              </div>
                </div>
              </div>
              <form action="" [formGroup]="replyForm">
                <div class="reply-input" *ngIf=" data.commentId === inputComment ">
                  <input type="text" formControlName="replyText" placeholder="Viết phản hồi...">
                  <button (click)="submitReply(data.commentId)">Gửi</button>
                </div>
              </form>
                <div *ngIf="data.commentId == selectedCommentId" class="modal-overlay" >
                  <div class="modal-content" (click)="$event.stopPropagation()">
                    <button class="modal-button" (click)="editComment(selectedCommentId,data.commentText)">Sửa bình luận</button>
                    <button class="modal-button" (click)="deleteComment(selectedCommentId,data.postId)">Xóa bình luận </button>
                  </div>
              </div>
            </div>
            
            
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
<!-- modal list word -->
<div #myModal class="modal-container" *ngIf="isListWord === true">
  <div class="content">
    <h1 class="header-content">Danh sách từ</h1>
    <div class="list-container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Hiragana</div>
          <div class="col col-2">Kanji</div>
          <div class="col col-3">Nghĩa</div>
        </li>

        <div class="row-data" *ngFor="let data of listWord">
          <li class="table-row">
            <div class="col col-1" data-label="Job Id">
              {{ data.wordHiragana }}
            </div>
            <div class="col col-2" data-label="Customer Name">
              {{ data.wordKanji }}
            </div>
            <div class="col col-3" data-label="Amount">{{ data.wordMean }}</div>
          </li>
        </div>
      </ul>
    </div>
    <button class="button-close" (click)="closeModalCourse()">Đóng</button>
  </div>
</div>
