<div class="container">
  <div class="community-container">
    <div class="community-divider">
      <h1>Bài viết mới</h1>
    </div>
    <!-- Tạo bài viết mới trong cộng đồng  -->
    <div class="community-post small-border">
      <form [formGroup]="postForm">
        <div class="post-header">
          <div class="community-post__infor">
            <div class="community-post_avatar">
              <img alt="" [src]="userInfo.imgUrl" />
            </div>
            <input
              type="text"
              placeholder="Bạn có muốn chia sẻ điều gì không?"
              (click)="onClickHandleExpand()"
              formControlName="postContent"
              [(ngModel)]="Content"
            />
          </div>
          <div class="community-post__addInfo" *ngIf="!hasExpand">
            <div class="community-post_upload">
              <label *ngIf="isUpload" for="file" class="community-post__button">
                <div class="community-post__image small-border">
                  <i class="fa-solid fa-upload"></i>
                  <div class="text">Tải ảnh lên</div>
                </div>
              </label>
              <input
                #fileInput
                type="file"
                class="inputfile"
                id="file"
                (change)="inputImage($event)"
              />
              <div class="cancel-btn" *ngIf="!isUpload" (click)="cancelImage()">
                <i class="fa-solid fa-xmark"></i>
              </div>
              <div class="community-posts__image" *ngIf="!isUpload">
                <img [src]="imagePost" alt="" />
              </div>

              <div class="community-post__course">
                <div
                  class="community-postss_course small-border"
                  (click)="openModal()"
                >
                  <i class="fa-solid fa-plus community-icon" *ngIf="isIcon"></i>
                  <h4 *ngIf="isCourseInfo">
                    <h3>Tên bài học :</h3>
                    {{ selectCourse.courseName }}
                    <h3>Chủ đề :</h3>
                    {{ selectCourse.category }}
                  </h4>
                </div>
              </div>
              <div #myModal class="modal-container" *ngIf="isVisible">
                <div class="content">
                  <h1 class="header-content">Thêm bài viết mới</h1>
                  <div class="list-container">
                    <ul class="responsive-table">
                      <li class="table-header">
                        <div class="col col-1">Course id</div>
                        <div class="col col-2">Tên</div>
                        <div class="col col-3">Chủ đề</div>
                      </li>
                      <div
                        class="row-data"
                        *ngFor="let data of listCourse"
                        (click)="onClickCourse(data.courseId)"
                      >
                        <li class="table-row">
                          <div class="col col-1" data-label="Job Id">
                            {{ data.courseId }}
                          </div>
                          <div class="col col-2" data-label="Customer Name">
                            {{ data.courseName }}
                          </div>
                          <div class="col col-3" data-label="Amount">
                            {{ data.category }}
                          </div>
                        </li>
                      </div>
                    </ul>
                  </div>
                  <button class="button-close" (click)="closeModal()">
                    Hủy
                  </button>
                </div>
              </div>
            </div>
            <div class="community-post_hanle">
              <div class="community-post_cancel">
                <button class="button" (click)="onClickClose()">
                  <i class="fa-solid fa-right-from-bracket"></i>Hủy bài viết
                </button>
              </div>
              <div class="community-post_send" (click)="onClickSend()">
                <button class="button">
                  <i class="fa-solid fa-share"></i>Đăng
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="community-divider"><h1>Bài viết bạn quan tâm</h1></div>
    <!-- Post trên màn cộng đồng  -->
    <div
      class="community-posts__rating small-border"
      *ngFor="let data of listPost"
    >
      <div class="handleHint" *ngIf="data.postId !== isHintPost">
        <div class="community-posts_header">
          <div class="small-border" style="display: flex; padding: 5px 15px">
            <div class="community-post_avatar">
              <img alt="" src={{data.ImgUrl}}/>
            </div>
            <div class="community-post_info">
              <div class="community-post_username">{{ data.userName }}</div>
              <div class="community-post_rating">
                Bài đăng : {{ data.postAt | date : "dd/MM/yyyy"}}
              </div>
            </div>
          </div>
          <div
            class="community-post_delete"
            (click)="onClickHandleHint(data.postId)"
          >
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
        </div>
        <div class="community-divider"></div>
        <div class="community-posts_body">
          <div class="community-posts_content">
            <div class="community-posts__idea">
              {{ data.postContent }}
            </div>
            <div class="community-posts__image">
              <img
                src={{data.postImage}}
                alt=""
              />
            </div>
          </div>
          <div
            class="community-posts_course"
            (click)="openModalCourse(data.courseId)"
          >
            <div class="community-post__theme">
              Topic :<br />
              {{ data.courseName }}
            </div>
            <div class="community-post__word">
              Id:<br />
              {{ data.courseId }}
            </div>
          </div>
        </div>
        <div class="community-posts_interact">
          <div class="community-alo">
            <div class="interact_container">
              <div
                class="interact-icon"
                (click)="handleOpenRating(data.postId)"
              >
                <i class="fa-solid fa-star"></i>
                Đánh giá
              </div>
            </div>
            <div
              class="interact_container"
              (click)="onClickHandleCommentExpand(data.postId)"
            >
              <div class="interact-icon">
                <i class="fa-solid fa-comment"></i>
                Bình luận
              </div>
            </div>
            <div
              class="interact_container"
              (click)="importToMyCourse(data.courseId)"
            >
              <div class="interact-icon">
                <i class="fa-solid fa-file-import"></i>
                Thêm vào học liệu
              </div>
            </div>
          </div>
          <div class="rating">Đánh giá :{{ data.rating }}</div>
        </div>
        <div class="row" *ngIf="data.postId === isRating">
          <div class="col-sm-12">
            <ul
              class="list-inline rating-list"
              *ngFor="let star of stars"
              style="display: inline-block"
            >
              <li
                (click)="countStart(data.courseId, star)"
                [ngClass]="{ selected: star <= rating }"
              >
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
        </div>
        <!-- Phần mở rộng khi nhấn comment -->
        <div class="community-comment">
          <div class="community-comment_header">
            <h2>Bình luận</h2>
          </div>
          <div class="community-comment_body">
            <form action="" [formGroup]="commentForm">
              <div class="community-post__infor">
                <div class="community-post_avatar">
                  <img alt="" src={{userInfo.imgUrl}} />
                </div>

                <input
                  type="text"
                  placeholder="Comment"
                  #comment
                  formControlName="comment"
                />
                <button (click)="onSubmit(data.postId)">Gửi</button>
              </div>
            </form>
            <div class="comment-container" *ngIf="data.postId === hasComment">
              <div *ngFor="let data of commentData">
                <div class="community-post__comment small-border">
                  <div class="comment-alo">
                    <div class="community-post_avatar">
                      <img alt="" src={{data.imgUrl}}/>
                      <span>{{ data.userName }}</span>
                    </div>
                    <div class="community-post_content">
                      {{ data.commentText }}
                    </div>
                  </div>
                  <!-- <i (click)="editComment(data.commentId)" class="fa-solid fa-pen-to-square"></i> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal list word -->
<div #myModal class="modal-container" *ngIf="isListWord === true">
  <div class="content">
    <h1 class="header-content">Danh sách từ</h1>
    <div class="list-container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Hiragana</div>
          <div class="col col-2">Kanji</div>
          <div class="col col-3">Nghĩa</div>
        </li>

        <div class="row-data" *ngFor="let data of listWord">
          <li class="table-row">
            <div class="col col-1" data-label="Job Id">
              {{ data.wordHiragana }}
            </div>
            <div class="col col-2" data-label="Customer Name">
              {{ data.wordKanji }}
            </div>
            <div class="col col-3" data-label="Amount">{{ data.wordMean }}</div>
          </li>
        </div>
      </ul>
    </div>
    <button class="button-close" (click)="closeModalCourse()">Đóng</button>
  </div>
</div>
