<div class="card">
    <div>
        <h2>Mimi kara goi N3 – Bài 1 (耳から覚える語彙 N3)</h2>
        <p>120 thuật ngữ • ⭐ 5 (3)</p>
        <p>29 người học hôm nay</p>
    </div>
    <button>Xem trước</button>
</div>
<div class="card">
    <div>
        <h2>MIMI N1</h2>
        <p>1.939 thuật ngữ • ⭐ 5 (1)</p>
    </div>
    <button>Xem trước</button>
</div>
<div class="card">
    <div>
        <h2>Mimi kara goi N3 – Bài 2 (耳から覚える語彙 N3)</h2>
        <p>100 thuật ngữ • ⭐ 5 (1)</p>
        <p>14 người học trong 3 ngày qua</p>
    </div>
    <button>Xem trước</button>
</div>