<div class="header">
    <div class="left-nav">
      <button routerLink="./word-list" class="header__button">
        <b>Danh sách từ vựng</b>
      </button>
      <button routerLink="./word-detail" class="header__button">
        <b>Học</b>
      </button>
    </div>
    <div class="right-nav">
      <button routerLink="../home/my-wordbooks" class="header__button">
        <b>Trở về trang chủ</b>
      </button>
    </div>
  </div>
  <div class="learn-route-container">
    <router-outlet></router-outlet>
  </div>
  