<div class="app">
  <div class="app-body">
    <h1>Tên học phần</h1>
    <app-word-list-detail
        style="display: flex; justify-content: center"
      >
        <div class="Word_footer">
          <div class="Word_navigation_back">
            <i class="fas fa-angle-left"></i>
          </div>
          <div class="Word_navigation_up">
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      </app-word-list-detail>
      <div class="info">
        <div class="info-">Tên tác giả</div>
      </div>
      <div class="set-up"><i class="fa-solid fa-bars"></i></div>
    <section class="service-section">
      <h2>Trò chơi</h2>
      <div class="tiles">
        <article class="tile" routerLink="../matching-game">
            <i class="fa-solid fa-check-double"></i>
          <a>
            <span >Ghép chữ</span>
          </a>
        </article>

        <article class="tile" routerLink="../guess-game">
            <i class="fa-solid fa-brain"></i>
          <a>
            <span>Đoán chữ</span>
          </a>
        </article>
        <article class="tile" routerLink="../quiz-game">
            <i class="fa-solid fa-book"></i>
          <a>
            <span>Kiểm tra</span>
          </a>
        </article>
        <article class="tile">
            <i class="fa-solid fa-volume-high"></i>
            <a>
              <span>Phát âm</span>
            </a>
          </article>
      </div>
    </section>
    <section class="service-section">
        <h2>Ôn tập với flashcard</h2>
        <div class="tiles">
          <article class="tile">
            <a>
              <span>Học flashcard</span>
            </a>
          </article>
  
          <article class="tile">
            <a>
              <span>Đánh giá ghi nhớ</span>
            </a>
          </article>
          <article class="tile">
            <a>
              <span>Bài test</span>
            </a>
          </article>
        </div>
      </section>
    <section class="transfer-section">
      <div class="transfer-section-header">
        <h2>Danh sách từ vựng </h2>
      </div>
      <div class="transfers">
        <div class="transfer">
          <div class="transfer-logo">
            <img src="https://assets.codepen.io/285131/apple.svg" />
          </div>
          <dl class="transfer-details">
            <div>
              <dt>Apple Inc.</dt>
              <dd>Apple ID Payment</dd>
            </div>
            <div>
              <dt>4012</dt>
              <dd>Last four digits</dd>
            </div>
            <div>
              <dt>28 Oct. 21</dt>
              <dd>Date payment</dd>
            </div>
          </dl>
          <div class="transfer-number">- $ 550</div>
        </div>
      </div>
    </section>
  </div>
</div>
