<nz-layout>
  <div nz-row>
    <div
      class="word-detail-container"
      style="display: flex; justify-content: center; align-self: center"
      nz-col
      nzSpan="12"
    >
      <app-word-list-detail
        [dataClick]="currentWord"
        [listOfWords]="currentData"
        style="display: flex; justify-content: center"
      >
        <div class="Word_footer">
          <div class="Word_navigation_back">
            <i class="fas fa-angle-left"></i>
          </div>
          <div class="Word_navigation_up">
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      </app-word-list-detail>
    </div>
    <div class="container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">Từ mới</div>
          <div class="col col-2">Hiragana</div>
          <div class="col col-3">Ví dụ</div>
          <div class="col col-4"></div>
        </li>
        <li
          class="table-row"
          *ngFor="let data of currentData"
          (click)="onClickList(data)"
        >
          <div class="col col-1" data-label="Job Id">{{ data.wordKanji }}</div>
          <div class="col col-2" data-label="Customer Name">
            {{ data.wordHiragana }}
          </div>
          <div class="col col-3" data-label="Amount">{{ data.example }}</div>
          
        </li>
      </ul>
    </div>
    <!-- modal -->
    <div #myModal class="modal-container" *ngIf="isVisible === true">
      <div class="content">
        <h1 class="content-header"></h1>
        <form action="" class="container-form" [formGroup]="wordForm">
          <div class="word_hiragana">
            <h3 class="word_text">Hiragana</h3>
            <input
              formControlName="wordHiragana"
              type="text"
              class="word_input"
              [(ngModel)]="Hiragana"
              required
            />
          </div>
          <div class="word_kanji">
            <h3 class="word_text">Kanji</h3>
            <input
              formControlName="wordKanji"
              type="text"
              class="word_input"
              [(ngModel)]="Kanji"
              required
            />
          </div>
          <div class="word_meaning">
            <h3 class="word_text">Ý nghĩa</h3>
            <input
              formControlName="wordMeaning"
              type="text"
              class="word_input"
              [(ngModel)]="Meaning"
              required
            />
          </div>
          <div formControlName="example" class="word_example">
            <h3 class="word_text">Ví dụ</h3>
            <input
              formControlName="example"
              type="text"
              [(ngModel)]="Example"
              class="word_input"
            />
          </div>
        </form>
        
      
      </div>
    </div>
  </div>
</nz-layout>
