.Word_container {
    align-self: center;
    width: 450px;
    height: 325px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.Word_container:hover {
    box-shadow: 2px 2px 2px #a59a9a;
    cursor: pointer;
}

.Word_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    opacity: 70%;
}

.Word_type {}

.Word_index {}

.word_highligh {}

.Word_body {
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: 520;
}

.Word_footer {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    opacity: 80%;
}

.Word_footer :hover {
    opacity: 50%;
}

.Word_navigation_back {}

.Word_navigation_up {}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #fff;
    color: black;
}
/* Style the back side */

.flip-card-back {
    background-color: #fff;
    color: #000;
    transform: rotateY(180deg);
}