
<div class="tabs">
    <a href="#" class="active">Học phần</a>
    <a href="#">Xem trước</a>
</div>
<div class="container">
    <div class="left-panel" >
        <h2>Học phần</h2>
        <div class="card" *ngFor="let data of searchData">
            <div class="card-header" >
                <h3>{{data.courseName}}</h3>
                <button (click)="onClickReview(data.courseId)">Xem trước</button>
            </div>
            <div class="card-body">
                <p>{{data.countWord}} thuật ngữ • ⭐ {{data.rating}} (5)</p>
                <p>{{data.creatorName}} - Giáo viên</p>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <h2>Xem trước</h2>
        <div class="card">
            <div class="card-header">
                <h3>{{courseName}}</h3>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Từ Kanji</th>
                            <th>Từ Hiragana</th>
                            <th>Ví dụ</th>
                            <th>Nghĩa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of wordReviewData">
                            <td>{{data.wordKanji}}</td>
                            <td>{{data.wordHiragana}}</td>
                            <td>{{data.example}}</td>
                            <td>{{data.wordMean}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button (click)="onClickLearn(courseId)">Học</button>
        </div>
    </div>
    
</div>