<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet">
<div class="task-manager">
  <div class="page-content">
    <div class="header">Quản lý lớp</div>
    <div class="content-categories">
        <div class="label-wrapper" routerLinkActive="active">
            <a routerLink="class-member-manager" class="category-link">
                <label class="category" for="opt-1">Thành viên</label>
            </a>
        </div>

        <!-- class-analysis -->
        <div class="label-wrapper" routerLinkActive="active" *ngIf="isRole">
            <a routerLink="class-analysis" class="category-link">
                <label class="category" for="opt-2">Duyệt thành viên</label>
            </a>
        </div>
        <div class="label-wrapper" routerLinkActive="active">
            <a routerLink="class-results" class="category-link">
                <label class="category" for="opt-3">Học phần lớp học</label>
            </a>
        </div>
        <!-- <div class="label-wrapper" routerLinkActive="active">
            <a routerLink="class-analysis" class="category-link">
                <label class="category" for="opt-4">Thống kê</label>
            </a>
        </div> -->
    </div>
    <div class="tasks-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>

  <div class="right-bar">
  
    <div class="header">Học phần</div>
    <div class="right-content">
      <div class="task-box yellow" *ngFor="let data of courseData">
        <div class="description-task">
          <div class="time">{{data.createdAt| date : "dd/MM/yyyy"}}  </div>
          <div class="task-name">{{data.courseName}}</div>
        </div>
        <div class="more-button"></div>
        <div class="members">
          Số từ {{data.totalWord}}
        </div>
      </div>
    </div>
  </div>
</div>

