<!-- Start Landing Page -->
<div class="landing-page">
  <div class="content">
    <div class="header">
      <div></div>
    </div>
    <nz-divider></nz-divider>
    <div class="container">
      <div class="info">
        <h1>Chào mừng đến website</h1>
        <p>Chúc bạn một chặng đường học tập thành công</p>
        
        <div class="cta" routerLink="../home/dashboard">
          <span>Bắt đầu học</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </div>
      </div>
      <div class="image">
        <img src="https://i.postimg.cc/65QxYYzh/001234.png" />
      </div>
    </div>
    
  </div>
</div>
<div class="firework"></div>
<div class="firework"></div>
<div class="firework"></div>
<!-- End Landing Page -->
